.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    min-width: 100%;
    min-height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__is-hidden {
    opacity: 0;
    pointer-events: none;
}