.form {
    width: 100%;
}

.form__title {
    display: block;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--link-base-color);
}

.form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    cursor: pointer;

    transition: fill var(--transition);

    &:hover,
    &:focus-within {
        fill: var(--form-icon-active-color)
    }
}

.form__field:nth-child(5) {
    margin-bottom: 20px;
}

.subscribe__form {

    @media screen and (min-width: 1200px) {
    display: flex;
    width: 570px;
    }
    
}


