.logo {
    display: block;

    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    color: var(--link-active-color);
    text-decoration: none;

    @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    }
}

.logo__text--black {
    color: var(--title-text-color);
}

.header__logo {
    padding: 16px 0;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
}

.logo__text--white {
    color: var(--text-white-color);
}