.about {
    @extend %section;

    display: none;
    padding-top: 0;

    @media screen and (min-width: 1200px) {
        display: block;
    }
}

.about__title {

    text-align: center;
    margin-bottom: 50px;
}

.about__list {
    --items: 3;
}

.about__item {
    position: relative;
}

.about__subtitle {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-white-color);
    background-color: var(--about-subtitle-bg);
}