.benefits {
    @extend %section;
}

.benefits__list {
    --items: 1;

    @media screen and (min-width: 768px) {
    --items: 2;
    }

    @media screen and (min-width: 1200px) {
    --items: 4;
    }
}

.benefits__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    
    padding: 25px 0;
    margin-bottom: 30px;

    background-color: var(--background-button-color);
    border-radius: 4px;
}

.benefits__subtitle {
    text-align: center;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--link-base-color);
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
    text-align: left;
    }
}