.clients {
    @extend %section;
}

.clients__list {
    --items: 2;
    
    @media screen and (min-width: 768px) {
    --items: 3;
    }
    
    @media screen and (min-width: 1200px) {
    --items: 6;
    }
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 16px 0;

    color: var(--clients-color);

    border: 1px solid var(--clients-border-color);
    border-radius: 4px;

    transition: color var(--transition), border-color var(--transition);

    &:hover,
    &:focus {
        color: var(--clients-focus-color);
    
        border-color: var(--clients-border-focus-color);
    }
}

.clients__icon {
    fill: currentColor;
}