.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--background-secondary-color);
}

.footer__container {
    @media screen and (min-width: 1200px) {
    display: flex;
    }
}

.footer__box {
    @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    }
}


.footer__contact {
    margin-bottom: 60px;

    text-align: center;

    @media screen and (min-width: 1200px) {
        text-align: left;
        width: 231px;
        margin-right: 70px;
        margin-bottom: 0px;
    }
    
    
}

.contact__item:not(:last-child) {
    margin-bottom: 8px;
}

.contact__address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-white-color);
    text-decoration: none;

    transition: color var(--transition);

    &:hover,
    &:focus {
        color: var(--link-active-color);
    }
}

.contact__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--footer-contact-color);
    text-decoration: none;

    transition: color var(--transition);

    &:hover,
    &:focus {
        color: var(--link-active-color);
    }
}

.footer__social {
    margin-bottom: 60px;

    text-align: center;

    @media screen and (min-width: 1200px) {
    margin-right: 94px;
    margin-bottom: 0px;
    }
    
}

.social__title {
    display: inline-block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-white-color);
    text-transform: uppercase;
}

.subscribe {
    text-align: center;
}

.subscribe__title {
    display: inline-block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-white-color);
    text-transform: uppercase;
}

.subscribe__button {
    margin-top: 20px;

    @media screen and (min-width: 1200px) {
    margin-top: 0px;
    }
}