.hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    background-image: linear-gradient(to right,
            var(--hero-linear-gradient),
            var(--hero-linear-gradient)),
        url(../images/bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--background-secondary-color);
}